<nav class="navbar fixed navbar-expand-sm navbar-dark bg-dark justify-content-between">
  <div class="navbar-brand">
    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/5/59/Davidson_Wildcats_logo.svg/1200px-Davidson_Wildcats_logo.svg.png" width='35px' height='35px' alt="logo">
    CLAS
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
      <li><a class="nav-link" href="/cce">CCE</a></li>
      <li><a class="nav-link" href="/organizations">Organizations</a></li>
      <li><a class="nav-link" href="/summer">Summer of Service</a></li>
    </ul>
  </div>
</nav>
