<div class="about">
  <h2>Center for Civic Engagement</h2>
  <p class="about-info">The Center for Civic Engagement promotes learning through engagement with the community.
  In partnership with public and nonprofit organizations, we connect students, faculty and staff with opportunities to build community capacity and impact positive community driven change.
  Their programs and events range from introductory service experiences to immersive summer internship programs, community-based learning courses, and leadership experiences.</p>

  <h4>More Info</h4>
  <ul class="options">
    <li><strong>Phone:</strong> 704-894-2420</li>
    <li><strong>Location:</strong> 209 Ridge Road Davidson, NC 28035 (Alvarez College Union)</li>
    <li><strong>Hours:</strong> M-F 8:30 a.m. - 5 p.m.</li>
  </ul>
</div>

<br><br>

<div class="row no-gutter kristin">
  <div class="col-md-3">
    <img src="https://www.davidson.edu/sites/default/files/styles/medium_1x1/public/2019-04/Booher-Kristin-1.jpg?h=d5710382&itok=PAfZ1eLY" style="height: 150px;">
    <h5>Kristin Booher</h5>
  </div>
  <div class="col-md-9 kristin-info">
    <p> Kristin serves as the point of contact for the Bonner Scholars Program, Civic Engagement Council Executive Board, Nonprofit Leadership Fellows Program and other events in the Center for Civic Engagement, including those related to social innovation.</p>
    <p><strong>Email:</strong> krbooher@davidson.edu </p>
    <p><strong>Phone:</strong> 704-894-2298</p>
  </div>
</div>

<br>

<div class="row no-gutter kanalyn">
  <div class="col-md-3">
    <img src="https://www.davidson.edu/sites/default/files/styles/medium_1x1/public/2019-04/Kanalyn-Jackson.jpg?h=5e5755ea&itok=ntgSZKRT" style="height: 150px;">
    <h5>Kanalyn Jackson</h5>
  </div>
  <div class="col-md-9 kanalyn-info">
    <p>Kanalyn serves as assistant director for Civic Engagement, coordinates the Federal Community Service Work-Study program and the Education Scholars program.  She also coordinates various civic engagement opportunities that include the Community Involvement Fair and Service Saturdays. In addition, Kanalyn advises several student groups and create our weekly newsletter.</p>
    <p><strong>Email:</strong> kajackson@davidson.edu</p>
    <p><strong>Phone:</strong> 704-894-2460</p>
  </div>
</div>
