  <div class="image">
    <div class="blurb offset-4">
      <center><h5 class="blurb-text">Having trouble finding a service site? Search no further, you are in the right place!</h5></center>
      <a href="/organizations"><center><button type="button" class="btn btn-danger go" style="transform: translate(-5%, 150%);">Access Service Opportunities!</button></center></a>
    </div>
  </div>
