<center><h2>Weclome to C.L.A.S</h2></center>
<center><h2>(Community Learning Agreement Search)</h2></center>

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="2500">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="https://www.davidson.edu/sites/default/files/styles/extra_extra_large_24_7/public/2019-04/freedom-school.JPG.jpg?itok=nKxnQTr8" height="450px" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://charlotteagenda-charlotteagenda.netdna-ssl.com/wp-content/uploads/2018/02/davidson-college-e1519409901854.jpg"  height="450px"alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://www.davidson.edu/sites/default/files/styles/extra_extra_large_24_7/public/2019-04/10915120_796070383797586_7386233231398445071_o-1_0.jpg?h=4d2ec0f6&itok=6gBC7_8O" height="450px" alt="Third slide">
    </div>
  </div>
</div>
<center><h2>Having trouble finding a service site?  Search no further, you are in the right place!</h2></center>
<center><button type="button" class="btn btn-danger" style="transform: translate(-5%, 150%);">Access Service Opportunities!</button></center>
